.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

}

.side{
    display: flex;
    flex-direction: column;
    width:16%;
    height: 100%;
    align-items: center;
    background-color: azure;
    min-width: 5cm;
}
.side img {
  width: 4cm;
  height: 4cm;
  margin-bottom: 0.7cm;
  border-radius: 50%;
  border: 0.15cm solid white;
  object-fit: cover;
  object-position: 50% 50%;
}
.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main{
    width: 84%;
    flex-direction: column;

}