<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>flask template</p>
    <h2>사용자 목록</h2>
    <form>
        <input type='text' name="name">
        <input type="submit" value="Submit">
        
    </form>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Phone</td>
        </tr>
        {%for user in users%}
        <tr>
            <td>{{user['name']}}</td>
            <td>{{user['age']}}</td>
            <td>{{user['mobile']}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>